{%extends "base/base.html"%}
{% load static %}

{% block title %}Documentación{% endblock %}

{% block content %}

<div class="container py-3">
    <h1 class="textoTitulo">Documentación de Monster Hunter API</h1>
    <div class="container">
        <p class="textoSubtitulo">Introducción</p>
        <p class="textoContent">
            Monster Hunter API es una API RESTful pública diseñada para proporcionar información estructurada sobre los monstruos, clases, elementos y estados del universo de Monster Hunter. No requiere autenticación para realizar peticiones y puede ser utilizada libremente desde cualquier aplicación o servicio. Esta API permite recuperar datos a través de solicitudes HTTP en formato JSON.
        </p>
    </div>
    <div class="container">
        <p class="textoSubtitulo">Uso de la API</p>
        <p class="textoContent">
            La API está diseñada para ser fácil de usar y accesible desde cualquier aplicación o servicio que pueda realizar solicitudes HTTP. Los datos se pueden recuperar utilizando los endpoints listados a continuación. La API es pública, no requiere autenticación y permite realizar peticiones desde cualquier origen. Se ha configurado django-cors-headers para gestionar CORS y facilitar el acceso desde aplicaciones web.
        </p>
    </div>
    <div class="container">
        <p class="textoSubtitulo">Endpoints Disponibles</p>
        <p class="subtituloContenido">La url base de la API es: <br> https://monsterhunterapi.onrender.com/mhapi/</p>
        <p class="subtituloContenido"><i class="bi bi-arrow-right"></i>Otener todos los datos</p>
        <p class="textoContent">
            GET ./mhapi/ <br>
            <i class="bi bi-arrow-return-right"></i>Devuelve un objeto con todos los Monstruos, Clases, Elementos y Estados, cada uno con la cantidad de registros y una lista de los mismos con su respectivo id y nombre.
        </p>
        <p class="subtituloContenido"><i class="bi bi-arrow-right"></i>Monstruos</p>
        <p class="textoContent">
            GET ./mhapi/monstruos/ <br>
            <i class="bi bi-arrow-return-right"></i>Obtiene la lista de todos los monstruos. Se pueden agregar parámetros opcionales como clase o elemento para filtrar los resultados. <br>
            GET ./mhapi/monstruos/{id}/ <br>
            <i class="bi bi-arrow-return-right"></i> Obtiene un monstruo por su ID. <br>
            GET ./mhapi/monstruos/{nombre}/ <br>
            <i class="bi bi-arrow-return-right"></i>Obtiene un monstruo por su nombre.
        </p>
        <p class="subtituloContenido"><i class="bi bi-arrow-right"></i>clases</p>
        <p class="textoContent">
            GET ./mhapi/clases/ <br>
            <i class="bi bi-arrow-return-right"></i>Obtiene la lista de todas las clases. <br>
            GET ./mhapi/clases/{id}/ <br>
            <i class="bi bi-arrow-return-right"></i> Obtiene una clase por su ID. <br>
            GET ./mhapi/clases/{nombre}/ <br>
            <i class="bi bi-arrow-return-right"></i>Obtiene una clase por su nombre.
        </p>
        <p class="subtituloContenido"><i class="bi bi-arrow-right"></i>Elementos</p>
        <p class="textoContent">
            GET ./mhapi/elementos/ <br>
            <i class="bi bi-arrow-return-right"></i>Obtiene la lista de todos los elementos. <br>
            GET ./mhapi/elementos/{id}/ <br>
            <i class="bi bi-arrow-return-right"></i> Obtiene un elemento por su ID. <br>
            GET ./mhapi/elementos/{nombre}/ <br>
            <i class="bi bi-arrow-return-right"></i>Obtiene un elemento por su nombre.
        </p>
        <p class="subtituloContenido"><i class="bi bi-arrow-right"></i>Estados</p>
        <p class="textoContent">
            GET ./mhapi/estados/ <br>
            <i class="bi bi-arrow-return-right"></i>Obtiene la lista de todos los estados. <br>
            GET ./mhapi/estados/{id}/ <br>
            <i class="bi bi-arrow-return-right"></i> Obtiene un estado por su ID. <br>
            GET ./mhapi/estados/{nombre}/ <br>
            <i class="bi bi-arrow-return-right"></i>Obtiene un estado por su nombre.
        </p>
    </div>

    <div class="container">
        <p class="textoSubtitulo">Formato de respuestas</p>
        <p class="textoContent">
            Las respuestas de la API son en formato JSON. En caso de error, la API devuelve un mensaje de error con su código HTTP correspondiente. Por ejemplo: <br>
            <p class="subtituloContenido"><i class="bi bi-arrow-right"></i>ejemplo de respuesta para el endpoint /mhapi/monstruos/Arzuros</p>
            <div id="response2">
{
    "id": 4,
    "nombre": "Arzuros",
    "icono": "https://res.cloudinary.com/dr7btdd4w/image/upload/v1738080886/MH3U-Icono_Arzuros_l5hljx.webp",
    "imagen": "https://res.cloudinary.com/dr7btdd4w/image/upload/v1738095100/Monstruo_Arzuros_jkzdtt.webp",
    "clase": {
        "id": 3,
        "nombre": "Bestia de Colmillos"
    },
    "elemento": [
        {
            "id": 6,
            "nombre": "Ninguno",
            "icono": "https://res.cloudinary.com/dr7btdd4w/image/upload/v1738086150/Elemento-Ninguno_cfl5wb.png"
        }
    ],
    "estado": [
        {
            "id": 19,
            "nombre": "Ninguno",
            "icono": "https://res.cloudinary.com/dr7btdd4w/image/upload/v1738086150/Elemento-Ninguno_cfl5wb.png"
        }
    ],
    "debilidad": [
        {
            "id": 1,
            "nombre": "Fuego",
            "icono": "https://res.cloudinary.com/dr7btdd4w/image/upload/v1738086150/Elemento-Fuego_wrqewe.webp"
        },
        {
            "id": 3,
            "nombre": "Hielo",
            "icono": "https://res.cloudinary.com/dr7btdd4w/image/upload/v1738086150/Elemento-Hielo_oeblkd.webp"
        }
    ],
    "max_size": 854.55,
    "min_size": 501.34
}
            </div>
            <p class="subtituloContenido"><i class="bi bi-arrow-right"></i>Código HTTP: 404 Not Found</p>
            <div id="response2">
{
    "error": "Monstruo no encontrado"
}
            </div>
            <p class="subtituloContenido"><i class="bi bi-arrow-right"></i>Código HTTP: 400 Bad Request</p>
            <div id="response2">
{
    "error": "Parámetro inválido"
}
            </div>
        </p>   
    </div>
    <div class="container">
        <p class="textoSubtitulo">Ejemplos de Uso en Código</p>
        <p class="subtituloContenido"><i class="bi bi-arrow-right"></i>JavaScript (Fetch API)</p>
        <div id="response2">
fetch("https://monsterhunterapi.onrender.com/mhapi/monstruos/")
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error("Error:", error));
                        </div>
        <p class="textoContent">
            <i class="bi bi-arrow-return-right"></i>El código realiza una solicitud GET a ./mhapi/monstruos/ usando fetch, convierte la respuesta en JSON y la muestra en la consola. Si ocurre un error (como problemas de red), lo captura y lo imprime en la consola.
        </p>
        <p class="subtituloContenido"><i class="bi bi-arrow-right"></i>Python (Requests)</p>
        <div id="response2">
import requests

response = requests.get("https://monsterhunterapi.onrender.com/mhapi/monstruos/")
if response.status_code == 200:
    print(response.json())
else:
    print("Error:", response.status_code)
                        </div>
        <p class="textoContent">
            <i class="bi bi-arrow-return-right"></i>Este código en Python realiza una solicitud HTTP GET a una API utilizando el módulo requests. Envía la solicitud a la URL ./mhapi/monstruos/ y verifica si la respuesta tiene éxito (código 200). Si es exitosa, imprime los datos en formato JSON; de lo contrario, muestra un mensaje con el código de error recibido.
        </p>
    </div>
    <div class="container">
        <p class="textoSubtitulo">Uso de la Sección "Prueba la API"</p>
        <p class="textoContent">
            Para obtener una referencia rápida de los IDs y nombres de los elementos disponibles en la API, se recomienda utilizar la sección Prueba la API, donde se pueden visualizar los datos de manera interactiva.
        </p>
        
    </div>
    <div class="container">
        <p class="textoSubtitulo">Ejemplo de uso de la API</p>
        <p class="textoContent">Puedes revisar un ejemplo de uso/consumo de la API en el siguiente repositorio de GitHub: <a target="_blank" href="https://github.com/MVOSSES/EnciclopediaMHAPI">EnciclopediaMHAPI</a></p>
    </div>
    <div class="container">
        <p class="textoSubtitulo">Consideraciones Finales</p>
        <p class="textoContent">
            <i class="bi bi-arrow-return-right"></i>Monster Hunter API solo responde a solicitudes de tipo GET.<br><br>

            <i class="bi bi-arrow-return-right"></i>Si bien el codigo de Monster Hunter API y su respectivo repositorio son públicos en GitHub, solo se permite su uso para fines educativos y de análisis.<br><br>

            <i class="bi bi-arrow-return-right"></i>La API está en constante desarrollo y puede recibir nuevas actualizaciones. <br><br>

            <i class="bi bi-arrow-return-right"></i>Se recomienda usar un cliente como Postman, Thunder Client o herramientas similares para probar los endpoints.<br><br>

            <i class="bi bi-arrow-return-right"></i>Si encuentras errores o deseas contribuir, revisa la documentación oficial o contacta con el administrador del proyecto.<br><br>

            <i class="bi bi-arrow-return-right"></i>La API es pública y no requiere autenticación para realizar peticiones.<br><br>

            <i class="bi bi-arrow-return-right"></i>Se ha configurado django-cors-headers para permitir solicitudes desde cualquier origen (CORS), facilitando su uso en aplicaciones web y otros servicios.<br>
        </p>   
    </div>
</div>

{% endblock %}