{%extends "base/base.html"%}
{% load static %}

{% block title %}Documentación{% endblock %}

{% block content %}

<div class="container py-3">
    <h1 class="textoTitulo">Documentación de Monster Hunter API</h1>
    <div class="container">
        <p class="textoSubtitulo">Introducción</p>
        <p class="textoContent">
            Monster Hunter API es una API RESTful pública diseñada para proporcionar información estructurada sobre los monstruos, clases, elementos y estados del universo de Monster Hunter. No requiere autenticación para realizar peticiones y puede ser utilizada libremente desde cualquier aplicación o servicio. Esta API permite recuperar datos a través de solicitudes HTTP en formato JSON.
        </p>
    </div>
    <div class="container">
        <p class="textoSubtitulo">Uso de la API</p>
        <p class="textoContent">
            La API está diseñada para ser fácil de usar y accesible desde cualquier aplicación o servicio que pueda realizar solicitudes HTTP. Los datos se pueden recuperar utilizando los endpoints listados a continuación. La API es pública, no requiere autenticación y permite realizar peticiones desde cualquier origen. Se ha configurado django-cors-headers para gestionar CORS y facilitar el acceso desde aplicaciones web.
        </p>
    </div>
    <div class="container">
        <p class="textoSubtitulo">Endpoints Disponibles</p>
        <p class="contentSubtitulo">Obtener todos los datos</p>
        <p class="textoContent">
            GET /mhapi/
            Devuelve un objeto con todos los datos de la API, incluyendo monstruos, clases, elementos y estados, cada uno con su cantidad total.
        </p>
        
    </div>
    <div class="container">
        <p class="contentSubtitulo"></p>
        <p class="textoContent">
            
        </p>
        
    </div>
    <div class="container">
        <p class="textoSubtitulo"></p>
        <p class="textoContent">
            
        </p>
        
    </div>
    <div class="container">
        <p class="textoSubtitulo"></p>
        <p class="textoContent">
            
        </p>
        
    </div>
    <div class="container">
        <p class="textoSubtitulo"></p>
        <p class="textoContent">
            
        </p>
        
    </div>
    <div class="container">
        <p class="textoSubtitulo"></p>
        <p class="textoContent">
            
        </p>
        
    </div>
</div>

{% endblock %}