.paletaDeColores{ /* Solo para referencia*/
    color: #b07131;
    color: #f5ce83;
    color: #1c0704;
    color: #b38753;
    color: #cbbc96;
    color: #af8a58;
    color: #e2cc99;
    color: #644020;
    color: #a0835a;
    color: #d4cca0;
}
#barraNav{
    background-color: #b38753;
}
#piePagina{
    background-color: #af8a58;
}
.cabecera{
    background-color: #644020;
    color: #d4cca0;
    border-color: #b38753;
}
body{
    background-color: #d4cca0;
    color: #1c0704;
}
.logoTitulo{
    width: auto;
    height: 30px;
}
.botones1{
    background-color: #1c0704;
    color: #d4cca0;
    border-color: #a0835a;
    cursor: pointer;
    &:hover{
        background-color: #b38753;
        color: #1c0704;
        border-color: #1c0704;
    }
}
.textoNavBar{
    color: #1c0704;
    font-size: 90%;
    padding : 10px;
    font-weight: 500;
}
.textoNavBar2{
    color: #1c0704;
    font-size: 70%;
    padding : 10px;
    font-weight: 500;
}
.seccion-flex {
    display: flex;
    align-items: center;  
    justify-content: center;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}


.imagen-lateral {
    width: 25%; 
    max-width: 250px;
    border-radius: 10px;
    margin: 0 20px; 
}


.texto-centro {
    flex: 1; 
}
#response {
    background-color: #b38753;
    border: 3px solid #1c0704;
    color: #1c0704;
    padding: 15px;
    width: 100%;
    max-width: 600px;
    height: 300px;
    overflow: auto; 
    white-space: pre-wrap; 
    text-align: left; 
    font-family: monospace; 
    margin: 0 auto; 
    margin-bottom: 10px;
    border-radius: 15px;
}
#response2 {
    background-color: #b38753; 
    border: 3px solid #1c0704;
    color: #1c0704; 
    padding: 15px;
    width: auto; 
    max-width: 600px; 
    height: auto; 
    max-height: 400px;
    overflow: auto; 
    white-space: pre-wrap; 
    text-align: left; 
    font-family: monospace; 
    margin: 0 auto; 
    margin-bottom: 10px;
}

.cuadroInput{
    background-color: #b38753;
    color: #1c0704;
    border-color: #1c0704;
    &:focus{
        background-color: #b38753;
        color: #1c0704;
        border-color: #1c0704;
    }
}

.contenedor1{
    background-color: #b38753;
    color: #1c0704;
    border-color: #1c0704;
    padding: 20px;
    border: 3px solid #1c0704;
    border-radius: 5px;
    width: 300;
    height: 270;
    min-height: 270px; 
    max-height: 300px;
}
.tamañoTarjetaSection{
    min-height: 250px; 
    max-height: 300px; 
    width: 300; 
    height: 270;
    display: flex; 
    flex-direction: column; /* Organiza los elementos de arriba a abajo */
    justify-content: space-between; 
}
.textoTitulo{
    font-size: 25px;
    font-weight: 900;
}
.textoSubtitulo{
    font-size: 150%;
    font-weight: 700;
    padding-left: 7%;
}
.textoContent{
    font-size: 100%;
    font-weight: 400;
    padding-left: 20%;
    text-align: justify;
}
.enlaceExterno{
    font-weight: 750;
}
.subtituloContenido{
    font-size: 120%;
    font-weight: 600;
    padding-left: 14%;
}
.imagenesContenido{
    width: auto;
    height: auto;
    max-width: 60%; 
    border: 3px solid #1c0704;
    border-radius: 10px;
}
.tarjetas{
    display: inline-block; 
    padding: 0;
    margin: 0; 
    padding-left: 20%;
}
.contenedor-imagen {
    display: inline-block; 
    width: fit-content; 
    padding: 0; 
    margin: 0; 
}